@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "Monument Extended";
  src: url(assets/fonts/MonumentExtended-Regular.woff2)
  format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Monument Extended";
  src: url(assets/fonts/MonumentExtended-Ultrabold.woff2)
  format("woff2");
  font-weight: 900;
}

h1, h2, h3, p, td {
  color: var(--text);
}

h2 {
  margin: 30px 0;
}

table, td {
  /* border: 1px solid black; */
  background-color: transparent !important;
}


.track td a, .track td div{
  background-color: transparent !important;
}



:root {
  --text: #f1f1f1;
  --background: #110e0f;
  --mainColor: #50A584;
  --auxiliarColor: #898888;
  --title: 35px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--background);
  scroll-behavior: smooth;
}

h1, h2, h3, p {
  color: var(--text);
  /* color: #fdfdfd !important; */
}

p {
  font-family: 'Montserrat', sans-serif;
}



.App {
  background-color: var(--background);
}

h2, .footer-nav-title, .album-title {
  font-family: 'Monument Extended', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: var(--text);
  letter-spacing: 0.1em;
  font-size: 20px;
  
}

h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.track-name, .track-artist, td {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--text) !important;
}

.track-artist {
  font-size: 14px;
  line-height: 1;
}

.track-time, .track-number{
  font-weight: 400;
}


footer {
  display:grid;
  justify-content: center; /* Centrar horizontalmente el contenido */
  /* background-color: #50A584; */
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr; /* Divide el espacio en tres columnas iguales */
 
}

.footer-nav-title{
  font-size: 14px;
  list-style-type: none;
  line-height: 1.75;
}


.footer-nav-title a {
  color: var(--text);
  text-decoration: none;
}
.footer-nav-title a:hover {
  color: #898888;
}

.footer-nav-title-alternative {
  color:#898888;
}

.footer-nav-title-alternative + p {
  font-size: 16px;
  margin: 24px 0;
  font-style: italic;
  letter-spacing: 2px
}

input[type="email"] {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: var(--text);
  /* flex: 1; */
}
input[type="email"], 
button[type="submit"] {
  background-color: transparent;
  border: none;
}


input[type="email"]:focus {
  background: transparent;
  border: none;
  outline: none;
}

button[type="submit"] {
  padding: 9.6px 24px 8px
}

button[type="submit"]:hover {
  background-color: var(--text);
}

.separator {
  margin: 30px 0 30px;
  text-align: center; 
}

.white-separator {
  border: none;
  border-top: 2px solid #f1f1f1;
  width: 100%;
  opacity: 1;
}

small {
  font-family: 'Montserrat', sans-serif;
  font-size: smaller;
  font-style: italic;
  /* color: #f1f1f1; */
  text-align: center;
  letter-spacing: 1;
  color: #898888;
}

small a {
  color: inherit;
}

.second-footer ul li {
  list-style-type: none;
}
.second-footer ul{
  padding:0;
}

.footer-icons {
  display: flex;
  flex-direction: column;
}


/*YOUTUBE VIDEO*/
.video-container {
  position: relative;
  width: 100%; /* Ajustar al ancho del contenedor */
  padding-bottom: 56.25%; /* Mantener la proporción 16:9 del video (altura/ancho) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.button {
  background-color: var(--mainColor);
  color: var(--text);
  font-family: 'Monument Extended', sans-serif;
  text-transform: uppercase;
  width: auto;
  padding: 20px 26px;
  /* margin: 5px; */
  letter-spacing: 0.1em;
  width: fit-content;
  border: none;
}

.button:hover {
  background-color: var(--text);
  color: var(--background);
  border: none;
}

.play-button {
  cursor: pointer;
}

.album-title {
  font-size: 32px;
  padding-top: 2rem;
  margin: 0;
}

.artist-name {
  font-size: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}

.album-data {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

/* .background {
  position: relative;
  width: 100%;
  height: 70vh; 
  overflow: hidden;
  z-index: 1;
} */

/* .blur-background {
  position: absolute;
  width: 100%;
  height: 70%;
  background-image: url('/src/assets/img/background-cover-tessa-violet-1.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px); 
  z-index: 0; /
} */






  



/* media query para diseño responsive */
/*Pasar de móvil a escritorio*/
@media (min-width: 768px) {

  h2 {
    font-size: var(--title);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /*FOOTER*/
  .footer-nav {
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; 
    justify-content: center; 
  }

  .footer-nav-title{
    font-size: 18px;
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


}

@media (min-width: 992px) {
  .custom-img {
    width: 408px;
    height: 408px;
  }
}
