@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "Monument Extended";
  src: url(assets/fonts/MonumentExtended-Regular.woff2)
  format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Monument Extended";
  src: url(assets/fonts/MonumentExtended-Ultrabold.woff2)
  format("woff2");
  font-weight: 900;
}